table,th,td{
    border: 1px solid;
    padding: 10px;
    
}
#container{
    display: flex;
    justify-content: center;

}
.buttonstyle{
    justify-items: center;
    position: relative;
    left: 1275px;
    margin: 5px;
    top:45PX;
    
}
