<app-navigationbar [title]="title"></app-navigationbar>
<br>
<div class="container">
    <table class="table" id='tab'>
        <thead>
        <tr>
            <!-- <th scope="col">id</th>
            <th scope="col">first_name</th>
            <th scope="col">last_name</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
            <th scope="col">organization</th>
            <th scope="col">designation</th>
            <th scope="col">salary</th>
            <th scope="col">status</th>
            <th scope="col">is_deleted</th>
            <th scope="col">created_at</th>
            <th scope="col">updated_at</th> -->
            <th scope="col">ID</th>
            <th scope="col">USERNAME</th>
            <th scope="col">PHONE</th>
            <th scope="col">EMAIL</th>
            <th scope="col">PASSWORD</th>
            <th scope="col">COMFORMPASSWORD</th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let emp of userinfo">
            <!-- <td>{{emp.id}}</td>
            <td>{{emp.first_name}}</td>
            <td>{{emp.last_name}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.phone}}</td>
            <td>{{emp.organization}}</td>
            <td>{{emp.designation}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.status}}</td>
            <td>{{emp.is_deleted}}</td>
            <td>{{emp.created_at}}</td>
            <td>{{emp.updated_at}}</td> -->
                
           
            <td><a [routerLink]="['/individualuser', emp.id,emp.phoneNumber,emp.userName,emp.email,emp.password,emp.confirmPassword]">
                {{emp.id}}</a></td>
            <!-- <td><a [routerLink]="['/individualuser']" [queryParams]="{id:emp.id,
                                                                    name:emp.userName, 
                                                                    email:emp.email,
                                                                    phone:emp.phoneNumber,
                                                                    password:emp.password,
                                                                    confirmPassword:emp.confirmPassword}">{{emp.id}}</a></td> -->
            <td>{{emp.userName}}</td>           
            <td>{{emp.phoneNumber}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.password}}</td>
            <td>{{emp.confirmPassword}}</td>
           
    
        </tr>
        </tbody>
    </table>				
    </div>