<!-- <mat-toolbar class="colors">
    <span></span>
    <div class="spacler"></div>
    <a mat-button color="success" routerLink="home">Home</a>
    <a mat-button color="" routerLink="about" >About</a>
    <a mat-button color="" routerLink="service">Service</a>
    <a mat-button color="" routerLink="contuctus">Contact Us</a>
</mat-toolbar> -->

<!-- <router-outlet></router-outlet>  -->
<!-- <app-user></app-user> -->
 <!-- <app-root></app-root> -->
<!-- <app-login></app-login>
 <app-signup></app-signup> 
 <app-addusers></app-addusers>  -->
 
 <!-- <app-navigationbar></app-navigationbar> -->
 <!-- <app-parent></app-parent> -->
<!-- <app-readsampleapi></app-readsampleapi> -->
<app-rxjssample></app-rxjssample>