
<div class="container">
    <table class="table" id='tab'>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">Photo</th>
           
        </tr>
        </thead>
        <tbody >
            
        <!-- <tr *ngFor="let emp of allEmployees | keyvalue">
            
            
            <td>{{emp.key}}:{{emp.value}}</td> -->
            <!-- <td>{{emp.email}}</td>
            <td>{{emp.phone}}</td>
            <td>{{emp.organization}}</td>
            <td>{{emp.designation}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.status}}</td>
            <td>{{emp.is_deleted}}</td>
            <td>{{emp.created_at}}</td>
            <td>{{emp.updated_at}}</td>
            <td>{{emp.userName}}</td>           
            <td>{{emp.phoneNumber}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.password}}</td>
            <td>{{emp.confirmPassword}}</td>
            <td>{{emp.id}}</td>
            <td>{{emp.imageUrl}}</td>
            <td>{{emp.email}}</td>  --> 
        <!-- </tr> -->
        </tbody>
    </table>				
    </div>
