<p>rxjssample works!</p>
<ul *ngIf="  datas">
   <li>{{datas}}</li> 
</ul>
<button (click)="read()" #mybutton>
    show observable
</button>
<a href="https://www.google.com/search?q=how+to+import+rxjs+in+angular+module&sxsrf=ALiCzsYYgzcrEurR8fQm64u0OYUnYxyQOw%3A1658123912518&ei=iPbUYtOfH4LB4-EPpbIi&oq=how+to+import+rxjs+in+angular+mo&gs_lcp=Cgdnd3Mtd2l6EAEYADIFCCEQoAEyBQghEKABMgUIIRCgATIFCCEQoAE6BwgAEEcQsAM6CggAEOQCELADGAE6BQgAEIAEOgYIABAeEBY6BQgAEIYDSgQIQRgASgQIRhgBUMgQWOstYNBCaAFwAHgAgAG3AYgBjAOSAQMxLjKYAQCgAQHIAQ3AAQHaAQYIARABGAk&sclient=gws-wiz" #mylink (mouseover)="mlink()">
    link me
</a>